# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
